:root {
  --pale-blue: hsl(243, 100%, 93%);
  --gray-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --melon: hsl(6, 100%, 80%);
  --pink: hsl(335, 100%, 65%);

  --primary-font: "Raleway", sans-serif;
  --size: 14px;
  --normal: 400;
  --bold: 700;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--very-dark-blue);
  font-family: var(--primary-font);
  font-weight: var(--normal);
  background-image: url(../images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 1440px;
}
