.logo-container {
  margin: 24px;
  padding: 40px;
  padding-right: 120px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 8px 80px 8px 8px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 24px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 12px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 8px;
  background-color: hsl(229, 57%, 11%);
  transition: all 0.5s;
  cursor: pointer;
}

.icon-container:hover {
  transform: scale(1.1);
}

.icon {
  width: 24px;
  height: auto;
}

@media (max-width: 800px) {
  .logo-container {
    width: 80%;
    margin: 5%;
    padding: 24px;
    padding-right: 40px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px 80px 8px 8px;
  }

  .icons {
    justify-content: flex-start;
  }

  .icon-container {
    margin: 4px;
    padding: 8px;
    min-width: 24px;
    min-height: 24px;
  }

  .icon {
    width: 18px;
    height: auto;
  }
}
